$form_background: rgba(254, 180, 116, 0.1);
$shadow_color: rgba(250, 180, 116, 0.15);
$accent_color: rgb(138, 210, 162);
$accent_color_focus: rgb(122, 194, 146);
$dark_grey: rgb(150,150,150);

table {
  width: 100%;
}

td {
  padding-bottom: 2%;
}

.react-tabs__tab-list {
  margin-top: 3%;
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

.react-tabs__tab {
  width: 35%;
  background-color: $accent_color;
  color: white;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  text-align: center;
}

.react-tabs__tab-list > li:first-child {
  border-radius: 5px 0 0 5px;
}

.react-tabs__tab-list > li:last-child {
  border-radius: 0 5px 5px 0;
}

.react-tabs__tab--selected {
  background-color: $accent_color_focus;
}

.transportation {
  color: $accent_color;
}

.departures_wrapper {
  margin-top: 2%;
}

.departures_extended {
  height: 70vh;
  background: rgba(256,256,256,0.7);
  border-radius: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  margin: 0 auto;
  padding-top: 1%;
  overflow-y: auto;
  background-color: $form_background;
  -webkit-box-shadow: 0px 0px 14px -2px $shadow_color;
  -moz-box-shadow: 0px 0px 14px -2px $shadow_color;
  box-shadow: 0px 0px 14px -2px $shadow_color;
}

.departures_extended::-webkit-scrollbar {
    -webkit-appearance: none;
}

.departures_extended::-webkit-scrollbar:vertical  {
    width: 7px;
}

.departures_extended::-webkit-scrollbar:horizontal {
    -webkit-appearance: none;
}

.departures_extended::-webkit-scrollbar-thumb {
    border-radius: 7px;
    border: 0px solid white;
    background-color: $dark_grey;
}

@media (max-width: 480px) {
  h2 {
    margin-top: 3%;
    font-size: 2em;
  }

  .departures_extended {
    margin-top: 3%;
    padding-top:3%;
    height: 70vh;
  }
}

@media (min-width: 480px) {
  .departures_extended {
    width: 58vh;
  }
}
