$background_color: rgba(250, 180, 116, 0.05);
$accent_color: rgba(253,130,115, 0.7);
$heading_color: rgb(253,130,115);
$error_color: rgb(245, 42, 42);
$grey: rgb(100,100,100);

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $background_color;
}

table {
  color: $grey;
}

h1 {
    font-size: 5em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    color: $heading_color;
}

h2 {
  font-size: 3em;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  color: $heading_color;
}

h3 {
  font-size: 2em;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: $heading_color;
}

h4 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.75em;
  font-weight: 300;
}

h5  {
  font-size: 1.5em !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $grey;
}

h6, label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $heading_color;
}

p, input, button {
    font-family: 'Roboto', sans-serif;
}

title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

p.error {
    color: $error_color;
    margin: 0;
}

button.btn.btn-primary {
    background-color: $accent_color;
    border: none;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
.uneditable-input {
  border: none;
}

textarea:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus
.uneditable-input:focus {
  border-color: $accent_color;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $accent_color;
  outline: 0 none;
}

.refresh {
  float: right;
}

.refresh_clicked {
  animation: rotate 500ms infinite;
  animation-iteration-count: 1;
}

.Toastify__toast.success_notification {
  background-color: rgb(138, 210, 162);
}

.Toastify__toast-body.success_notification {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.Toastify__progress-bar.Toastify__progress-bar--animated.Toastify__progress-bar--default.success_notification {
  background: rgb(64, 178, 102);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.extended_component_wrapper {
  padding-top: 2%;
  padding-bottom: 2%;
}

@media (max-width: 480px) {
    h1 {
        font-size: 3.5em;
        padding-top: 10%;
    }
}
