$background-color: rgba(255,232,220, 1);
$accent_color: rgba(253,130,115, 0.7);
$accent_color_dark: rgb(253,130,115);

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $background-color;
}

h1 {
    font-size: 5em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    color: $accent_color_dark;
}

h2 {
  font-size: 3em;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  color: $accent_color_dark;
}

h3 {
  font-size: 2em;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  color: $accent_color_dark;
}

h6, label {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: $accent_color_dark;
}

p, a, input, button {
    font-family: 'Roboto', sans-serif;
}

button.btn.btn-primary {
    background-color: $accent_color;
    border: none;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
.uneditable-input {
  border: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus
.uneditable-input:focus {
  border-color: $accent_color;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $accent_color;
  outline: 0 none;
}

@media (max-width: 480px) {
    h1 {
        font-size: 3.5em;
        padding-top: 10%;
    }
}
