$box_background: rgba(254, 180, 116, 0.1);
$shadow_color: rgba(250, 180, 116, 0.15);

.event_wrapper {
    width: 33%;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    margin: 0 auto;
    margin-top: 1%;
    padding-top: 1%;
    background-color: $box_background;
    -webkit-box-shadow: 0px 0px 14px -2px $shadow_color;
    -moz-box-shadow: 0px 0px 14px -2px $shadow_color;
    box-shadow: 0px 0px 14px -2px $shadow_color;
}

h3.event_title {
    text-align: center;
}

.calenadar_extended_wrapper {
    padding-top: 2%;
    padding-bottom: 2%;
}

h2.calendar_extended_title {
    padding-bottom: 1%;
}

p.address {
    margin: 0;
    text-align: left;
}

.event_location {
   text-align: left;
   display: inline-block;
}

.event_item_wrapper {
    text-align: center;
}

.not_authenticated_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}