$box_background: rgba(254, 180, 116, 0.1);
$shadow_color: rgba(250, 180, 116, 0.15);
$accent_color: rgb(138, 210, 162);
$dark_grey: rgb(150,150,150);

.event_item_wrapper {
    margin-top: 3%;
}

h5.event_title {
    color: $accent_color;
    margin: 0;
    margin-bottom: 1%;
}

h2.calendar_extended_title {
    padding-bottom: 1%;
}

h6.event_time {
    text-align: left;
    margin-bottom: 0;
}

p.address {
    margin: 0;
    text-align: left;
}

.event_location {
   text-align: left;
   display: inline-block;
   margin-bottom: 0;
}

.not_authenticated_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar_wrapper {
    height: 250px;
    overflow-y: scroll;
}

.calendar_wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

.calendar_wrapper::-webkit-scrollbar:vertical  {
    width: 7px;
}

.calendar_wrapper::-webkit-scrollbar:horizontal {
    -webkit-appearance: none;
}

.calendar_wrapper::-webkit-scrollbar-thumb {
    border-radius: 7px;
    border: 0px solid white;
    background-color: $dark_grey;
}