$box_background: rgba(254, 180, 116, 0.1);
$shadow_color: rgba(250, 180, 116, 0.15);
$dark_grey: rgb(100,100,100);
$accent_color: rgb(138, 210, 162);

.weather_wrapper {
  width: 33%;
  border-radius: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  margin: 0 auto;
  margin-top: 1%;
  padding-top: 1%;
  background-color: $box_background;
  -webkit-box-shadow: 0px 0px 14px -2px $shadow_color;
  -moz-box-shadow: 0px 0px 14px -2px $shadow_color;
  box-shadow: 0px 0px 14px -2px $shadow_color;
}

img.sunrise_icon {
    height: 35px;
    width: 35px;
    margin-right: 2%;
}

img.weather_icon {
    height: 45px;
    width: 45px;
    margin-right: 2%;
}

img.sunny_icon {
    height: 45px;
    width: 45px;
    margin-right: 2%;
    animation: rotate 22s linear infinite;
}

.weather_row {
    display: flex;
    align-items: bottom;
    margin-bottom: 5%;
}

.sunrise_sunset {
  display: flex;
  align-items: center;
}

.row.sunset_sunrise {
  margin-bottom: 5%;
}

h3.weather_title {
    color: $accent_color;
}

h6.weather_title {
  margin-bottom: 0;
  margin-left: 5%;
}

#forecast {
  padding: 0;
}

tspan {
  font-size: 0.75em;
}
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
