$accent_color: rgb(138, 210, 162);

.weather_info {
  margin-top: 15%;
}

img.sunrise_icon {
    height: 35px;
    width: 35px;
    margin-right: 2%;
}

img.weather_icon {
    height: 45px;
    width: 45px;
    margin-right: 2%;
}

img.sunny_icon {
    height: 45px;
    width: 45px;
    margin-right: 2%;
    animation: rotate 22s linear infinite;
}

.weather_row {
    display: flex;
    align-items: bottom;
    margin-bottom: 5%;
}

.sunrise_sunset {
  display: flex;
  align-items: center;
}

.row.sunset_sunrise {
  margin-bottom: 5%;
}

h3.weather_title {
    color: $accent_color;
}

h6.weather_title {
  margin-bottom: 0;
  margin-left: 5%;
}

#forecast {
  padding: 0;
}

.forecast_outer {
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.forecast_inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

tspan {
  font-size: 0.75em;
}
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.loading_icon_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loading_text {
  text-align: center;
}

.css-0 {
  text-align: center;
}

@media (max-width: 480px) {
  .weather_info {
    margin-top: 5%;
  }
}
