.calendar {
  height: 300px;
  margin: 5px;
}

.weather {
  height: 300px;
  margin: 5px;
}

.news {
  height: 300px;
  margin: 5px;
}

.sl {
  height: 300px;
  margin: 5px;
  overflow-y: scroll;
  height: 300px;
}

.dashboard_wrapper {
  margin-top: 2%;
}