.container {
  display: flex;
  justify-content: center;
}

.dashboard_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  height: 620px;
}

.calendar {
  width: 300px;
  height: 300px;
  background: orange;
  margin: 5px;
}

.weather {
  width: 300px;
  height: 300px;
  background: orange;
  margin: 5px;
}

.news {
  width: 300px;
  height: 300px;
  background: orange;
  margin: 5px;
}

.sl {
  width: 300px;
  height: 300px;
  background: orange;
  margin: 5px;
  overflow-y: scroll;
}