.calendar {
  height: 300px;
  margin: 5px;
}

.weather {
  height: 300px;
  margin: 5px;
}

.news {
  height: 300px;
  margin: 5px;
}

.sl {
  height: 300px;
  margin: 5px;
  overflow-y: hidden;
}

.dashboard_wrapper {
  margin-top: 0;
}

.coponent_title {
  display: flex;
  align-items: center;
  justify-content: space-between
}

#mobile {
  height: 63vh !important;
}


@media (max-width: 480px) {
  .news_wrapper {
    height: 57vh;
  }

  .sl {
    height: 57vh;
  }
}