$form_background: rgba(254, 243, 234, 1);
$shadow_color: rgba(250, 180, 116, 0.15);
$accent_color: rgb(138, 210, 162);
$dark_grey: rgb(150,150,150);

a.read_more {
  color: $accent_color;
}

a.read_more:hover {
  opacity: 0.7;
}

.news_wrapper {
  height: 250px;
  overflow-y: scroll;
}

.news_arrow {
  color: $accent_color;
}

.news_title {
  margin-top: 5%;
}

.news_desc:hover {
  opacity: 0.7;
}

.news_extended {
  background: rgba(256,256,256,0.7);
  border-radius: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  margin: 0 auto;
  margin-top: 4%;
  padding-top: 1%;
  overflow-y: auto;
  background-color: $form_background;
  -webkit-box-shadow: 0px 0px 14px -2px $shadow_color;
  -moz-box-shadow: 0px 0px 14px -2px $shadow_color;
  box-shadow: 0px 0px 14px -2px $shadow_color;
}

.news_wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

.news_wrapper::-webkit-scrollbar:vertical  {
    width: 7px;
}

.news_wrapper::-webkit-scrollbar:horizontal {
    -webkit-appearance: none;
}

.news_wrapper::-webkit-scrollbar-thumb {
    border-radius: 7px;
    border: 0px solid white;
    background-color: $dark_grey;
}