$form_background: rgba(253,130,115,0.2);
$accent_color: rgb(130,130,130);
$accent_color_dark: rgb(205,205,205);
$shadow_color: rgba(253,141,107,0.35);

.settings_wrapper {
    margin-top: 4%;
}

.settings_form_wrapper {
    width: 33%;
    margin: 0 auto;
    margin-top: 2%;
    padding-top: 2%;
    background-color: $form_background;
    -webkit-box-shadow: 0px 0px 14px -2px $shadow_color;
    -moz-box-shadow: 0px 0px 14px -2px $shadow_color;
    box-shadow: 0px 0px 14px -2px $shadow_color;
}

.settings_form {
    padding-top: 1%;
    padding-bottom: 5%;
}

h3, h6 {
    color:  $accent_color;
    text-align: center;
}

h6.list_item:hover {
    color: $accent_color;
}

.select_station {
    width: 90%;
    margin: 0 auto;
}

.transportation_options {
    text-align: center;
}

.check_boxes {
    margin: 2%;
}

label {
    color: $accent_color;
}

.logout_btn {
    width: 12% !important;
    margin: 2%;
}

@media (max-width: 480px) {
    .settings_form_wrapper {
        width: 90%;
        margin-top: 15%;
    }

    .logout_btn {
        margin-top: 10%;
        width: 40% !important;
    }
}