$header: rgb(243, 243, 243);

.navbar {
    background-color: $header;
}

a {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(0, 0, 0);
    opacity: 0.6;
}

.settings {
    height: 2rem;
    width: 2rem;
}

.settings:hover {
    opacity: 0.6;
}

a.title {
    font-size: 1.5rem;
}

.page-footer {
    background-color: $header;
    padding: 0 !important;
}

h5 {
    font-size: 1rem;
}

a.navbar-brand.title {
    text-align: center;
    display: inline-block;
    padding: 0;
}

.logo_header {
    height: 2.5rem;
    width: 2.5rem;
    padding-right: 1%;
}

.navbar-header {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    position: relative;
}

.logo_title_wrapper > * {
    vertical-align: middle;
}

@media (max-width: 480px) {
    .navbar-header {
        width: 75%;
        margin: 0 auto;
    }

    .logo_header {
        height: 2rem;
        width: 2rem;
        padding-right: 2%;
    }
}
