$form_background: transparent;
$button_text: rgb(255,255,255);
$title_color: rgba(250, 145, 127, 1);
$accent_color: rgb(138, 210, 162);
$light_grey: rgba(240,240,240,1);
$dark_grey: rgb(100,100,100);
$glow: rgba(255,100,18, 0.4);

.logo {
    width: 7.5em;
    height: 7.5em;
    padding: 1%;
    margin-top: 5%;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}


.login_form_wrapper {
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    width: 25%;
    margin: 0 auto;
    margin-top: 1%;
    padding-top: 2%;
    background-color: $form_background;
}

.login_form {
    padding-top: 5%;
    padding-bottom: 5%;
}

h1.title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0;
    color: $title_color;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
}


.form-control {
    background: $light_grey;
}
.no_margin.form-group {
    margin-bottom: 0;
}

button.btn.btn-primary {
    color: white;
    background-color: $accent_color;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

.register_text {
    margin-top: 4%;
    text-align: center;
    a {
        color: $dark_grey;
    }
    a:hover {
        color: $dark_grey;
    }
}

.error_wrap {
    height: 20px;
}

img.logo_wrap {
    display: block;
}

@media (max-width: 480px) {
    .login_form_wrapper {
        width: 90%;
        margin-top: 8%;
    }
}
